CONFIG_FIT_SIGNATURE=y
CONFIG_CMD_BOOTEFI_HELLO=y
CONFIG_CMD_BOOTEFI_SELFTEST=y
CONFIG_CMD_EFIDEBUG=y
CONFIG_CMD_DATE=y
CONFIG_DM_RTC=y
CONFIG_CMD_RTC=y
CONFIG_CMD_GETTIME=y
CONFIG_VERSION_VARIABLE=y
CONFIG_RTC_EMULATION=y
CONFIG_EFI_CAPSULE_ON_DISK=y
CONFIG_EFI_CAPSULE_FIRMWARE_FIT=y
CONFIG_EFI_CAPSULE_FIRMWARE=y
CONFIG_EFI_SET_TIME=y
CONFIG_EFI_RUNTIME_UPDATE_CAPSULE=y
CONFIG_EFI_CAPSULE_FIRMWARE_MANAGEMENT=y
CONFIG_AES=y
CONFIG_RSA_VERIFY_WITH_PKEY=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_UPDATE_FIT=y 
CONFIG_DFU=y
CONFIG_DFU_TFTP=y 
CONFIG_DFU_TIMEOUT=y 
CONFIG_DFU_MMC=y 
CONFIG_DFU_RAM=y 
CONFIG_SET_DFU_ALT_INFO=y
CONFIG_DFU_WRITE_ALT=y
CONFIG_CMD_GPIO=y
CONFIG_SUPPORT_EMMC_RPMB=y
CONFIG_CMD_MMC_RPMB=y
CONFIG_USB=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_XHCI_DWC3=y
CONFIG_USB_XHCI_DWC3_OF_SIMPLE=y
CONFIG_USB_DWC3_GENERIC=y
CONFIG_Rockchip_USB2_PHY=y
CONFIG_USB_GADGET=y
CONFIG_CMD_USB=y
CONFIG_USB_FUNCTION_FASTBOOT=n
CONFIG_FASTBOOT=n
